/*======COMMON STYLES========*/
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    
}


ul {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}






/* ===================== HEADER STYLES ==================== */
.page-header-containar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header {
    
    
    border-bottom: 1px solid;
    border-color: #E7E9FC;
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;

  
}
.page-nav { 
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
}


.logo {
        font-family: "Raleway", sans-serif;
        margin-right: 76px;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.logo-dark{
    color: #2E2F42;
}
.menu-item .link {
    padding-top: 24px;
    padding-bottom: 24px;
}
.menu-link {
    color:#2E2F42;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
        
}
.menu-link:hover,
.menu-link:focus{
    color: #404BBF;
    /*transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
} 
.page-address {
   
    font-style: normal;
}
.connection {
    color: #434455;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connection:hover,
.connection:focus {
    color: #404BBF;
}

/*==================::after================*/

.current {
    position: relative;
    color: #404BBF;
}


.menu-link.current::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;

}




/*====================HERO===================*/
.hero {
    max-width: 1440px;
    background-color: #2e2f42;
    padding: 188px 0 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)
      ),
        url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        /*background-position: left top;*/
        background-size: cover;

}
.main-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    
}

.visually-hidden-list {
    flex-basis: 264px;
}


.cards {
    
       padding: 32px 0px 32px 0px;
       width: 232px;
       margin: auto;
       
}
.cards-ad {
    padding: 32px 16px;
    border-style: solid;
    border-top: none ;
    border-width: 1px;
    border-color:  #E7E9FC;

}

.cards .title-three{
    text-align: center;
    margin-bottom: 8px;
}
.cards .descrition {
    text-align: center;
}

.cards-ad .title-three {
margin-bottom: 8px;
}
.solutions {
    padding: 120px 0;
}


.box-list {
    display: flex;
    flex-basis: calc((100% - 72px) / 4);
    gap: 24px;
 }
.button-hero {
    display: block;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5; 
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border-radius: 4px;
    border:0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.button-hero:hover,
.button-hero:focus {
    background-color: #404BBF;
    
}


/*====================Our Team 1===================*/

.solutions-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    padding: 24px 100px;
    margin-bottom: 8px;
}
.solution-list-icon {
    display: block;
}



.accomplishments {
    display: flex;
    flex-basis: calc((100% - 72px) / 4);
    gap: 24px;
    
}

.cloud {
    background-color: #F4F4FD;
        padding: 120px 0;
    }



.social-list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
   margin-top: 8px;
  
    
    
}
.social-list-iten { 
    display: flex;
}
 
 
.social-list-link {
display: block;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}  
.social-list-icon {
    display: block;
    width: 16px;
    height: 16px;
 
}
.title-three {
    color: #2E2F42;
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
        display: block;
        margin-bottom: 8px;
    }

.photo-ad {
    display: flex;
    flex-basis: calc((100% - 48px) / 3);
    column-gap: 24px;
    row-gap: 48px; 
    flex-wrap: wrap;
    
}
.title-second {
    color:#2E2F42;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;

}
.cloud-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.title-portfolio {
    padding: 120px 0 120px 0;
}
/*=======overlay=====*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    line-height: 1.5;

    transform: translateY(100%);
    /*overflow: auto;
    transition: transform 250ms ease-in-out ;*/
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-img {
    position: relative;
    overflow: hidden;
}
.portfolio-list-img:hover .overlay{
    transform: translateY(0%);
}
.portfolio-list {
    flex-basis: 360px;
    row-gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.portfolio-list:hover {
    box-shadow:  0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
   }
.descrition {
color:#434455;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    display: block;
}

/*===========================Footer=====================*/

.descrition-footer {
    color: #F4F4FD;
        line-height: 1.5;
        /* 150% */
        width: 264px;

}
.footer-class {
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-cloud {
    
color: #F4F4FD;
}

.footer-class .container .link {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-container {
    display:flex;
    justify-content: start;
    /*align-items: stretch;*/
    align-items: baseline;
    
}
.footer-link {
    font-weight: 500;
    font-size: 16px;
    color:#FFFFFF;
    letter-spacing: 0.02em;
    line-height: 1.5;
   margin-bottom: 16px;
}
/*.footer-class-icon {
    width: 208px;

}
.footer-class-box {

}*/

.class-icon {
    display: flex;
    gap: 16px;

}

.footer-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    fill: #F4F4FD;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}
.footer-list-link:hover,
.footer-list-link:focus {
    background-color: #31d0aa;
}
.footer-list-icon {
    margin-left: 16px;

    display: inline-flex;
    align-items: center;
    width: 24px;
    height: 24px;  
}
.footer-class-logo {
    margin-right: 120px;
}
.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
margin-right: 80px;
}
.footer-class-btn {
    margin-right: 24px;
}






.button-footer {
    min-width: 165px; 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;   
    background-color: #4D5AE5; 
    border: none;
    border-radius: 4px;

    /*margin: 0 auto;
    

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);*/
}

.review-form-footer {
    display: flex; 
    gap: 24px;
}
.review-form-footer-label {
    
}
.review-form-footer-input{
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    font-size: 12px; 
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: #ffffff;
}
.review-form-comment::placeholder {
    color: #ffffff;
}
.footer-link {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff; 
}

/*============================Modal===============*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)

}


.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    width: 408px;
    min-height: 584px; 
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    fill: #2E2F42;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    stroke-width: 1px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}
.review-form-discription {
    width: 360px;
    color:#2E2F42;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.review-form-field-label{
    display: block;
color:#8E8F99;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
margin-bottom: 4px;

}

.review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    outline: 0px solid transparent;
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
    border-color: #4D5AE5;
}

.review-form-field-wrapper-comment {
    margin-bottom: 16px;
}
.review-form-field-wrapper {
    margin-bottom: 8px;
}
.review-form-input-wrapper{
    position: relative;
}
.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .review-form-input-icon {
    fill: #4D5AE5;
}

.review-form-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    outline: 0px solid transparent;
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.review-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.40);

}
.review-form-comment:focus {
    border-color: #4D5AE5;
}
.review-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    stroke-width: 1px;
    stroke: rgba(46, 47, 66, 0.40);
    cursor: pointer;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}
.review-form-checkbox:checked 
+ .review-form-checkbox-label 
> .review-form-own-checkbox {
    background-color:   #404bbf;
    fill: #F4F4FD;
    border: none;
 }
.review-form-own-checkbox-icon {
    fill: #FFFFFF;
  opacity: 0;

}
.review-form-checkbox:checked 
+ .review-form-checkbox-label 
 .review-form-own-checkbox-icon {
    opacity: 1;
}

.review-form-checkbox-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
     }
.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}
    

.review-form-submit-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    margin-top: 24px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    left: 50%;
    transform: translateX(50%);
}

  
  .review-form-submit-btn:hover,
  .review-form-submit-btn:focus {
    background-color: #404BBF;
   
  }

  
  .accent-color {
    color: #4D5AE5;
  }